<!DOCTYPE html>
<html>

<head>
    <title>Face Attendance System</title>
    <link rel="stylesheet" href="/static/style1.css">
    <script async src="https://docs.opencv.org/4.x/opencv.js"></script>

    <!-- <script>
        cv['onRuntimeInitialized'] = () => {

            let utils = new Utils('errorMessage')

            utils.createFileFromUrl(
                'faceCascade',
                '/static/haarcascade_frontalface_default.xml',
                () => {
                    faceCascade = new cv.CascadeClassifier()
                    faceCascade.load('faceCascade')
                    startDetection()
                }
            )
        }
    </script> -->
</head>

<body>

    <div class="header">
        <h1>GCET College</h1>
            <p>Face Attendance System</p>
    </div>

    <div class="container">

        <div class="card">

            <h2>Register Student</h2>

            <input type="text" id="name" placeholder="Name">
            <input type="number" id="roll" placeholder="Roll No">
            <input type="text" id="dept" placeholder="Department">

            <br><br>

            <video id="video" width="320" height="240" autoplay style="display: none;"></video>
            <canvas id="canvas" width="320" height="240"></canvas>

            <p id="warning" style="color:red;font-weight:bold"></p>

            <br>

            <p id="faceCapturedMessage"></p>

            <button id="registerBtn" onclick="registerStudent()" disabled>Register</button>

            <p id="count">Images: 0 / 20</p>

        </div>

        <div class="card">

            <h2>Attendance</h2>

            <button onclick="startAttendance()">Start Attendance</button>
            <button onclick="loadStudents()">View Students</button>
            <button onclick="loadAttendance()">View Attendance</button>

        </div>

    </div>

    <div id="output"></div>

    <script src="/static/script.js"></script>
    <script>
        cv['onRuntimeInitialized'] = onOpenCvReady;
    </script>

</body>

</html>