<!DOCTYPE html>
<html>
<head>
    <title>Attendance System</title>
</head>

<body>

<h2>Register Student</h2>

<input id="name" placeholder="Name">
<input id="roll" placeholder="Roll No">
<input id="dept" placeholder="Department">

<br><br>

<video id="video" autoplay style="display:none"></video>
<canvas id="canvas" width="320" height="240"></canvas>

<p id="count">Images: 0</p>

<button onclick="registerStudent()">Register</button>

<hr>

<h2>Mark Attendance</h2>
<button onclick="markAttendance()">Start Attendance</button>

<script src="https://docs.opencv.org/4.x/opencv.js" onload="onOpenCvReady()"></script>
<script src="/static/script.js"></script>

</body>
</html>